
@font-face {
	font-family: 'Fira Code';
	src:
		url('FiraCode-Regular.oet') format('embedded-opentype'),
		url('FiraCode-Regular.woff2') format('woff2'),
		url('FiraCode-Regular.woff') format('woff'),
		url('FiraCode-Regular.ttf') format('truetype');
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-Regular.ttf') format('truetype');
	font-style: normal;
}

@font-face {
	font-family: 'MerriweatherBold';
	src: url('Merriweather-BlackItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Merriweather';
	src: url('Merriweather-Regular.ttf') format('truetype');
}

body {
	font-family: "Raleway";
	font-size: 1.5em;
	width: min(95%, max(60%, 47em));
	margin: auto;
	margin-top: 1%;
	margin-bottom: 1%;
	background-color: #eeeeee;
	color: #222831;
}

code {
	font-family: 'Fira Code', monospace;
}

h1, h2, h3, b {
	color: #393e46;
}

h1, h2, h3 {
	font-family: 'MerriweatherBold';
	font-weight: bold;
	font-style: italic;
	font-size: 1.8em;
}

a {
	color: #0092ca;
}

.headerlist a {
	font-family: 'Merriweather';
	color: #0092ca;
}

.keyword {
	color: #2fafff;
	font-weight: 600;
}

.quote {
	color: #a55233;
	font-weight: 400;
}

.comment {
	color: #f57b51;
	font-weight: 400;
}

.high {
	color: #ff00ff;
	font-weight: 550;
}
