
@font-face {
	font-family: 'Fira Code';
	src:
		local('Fira Code'),
		url('FiraCode-Regular.Z.woff2') format('woff2');
	font-style: regular;
}

@font-face {
	font-family: 'Merriweather';
	src:
		local('Merriweather'),
		url('Merriweather-BlackItalic.Z.woff2') format('woff2');
	font-style: black italic;
}

img {
	border-radius: 1em;
}

body {
	font-family: "Raleway", "Times New Roman", serif;
	font-size: 18pt;
	font-weight: lighter;
	width: min(95%, max(60%, 47em));
	margin: auto;
	margin-top: 1%;
	margin-bottom: 1%;
	background-color: #eeeeee;
	color: #222831;
}

code {
	font-family: 'Fira Code', monospace;
}

h1, h2, h3, b {
	color: #393e46;
}

h1, h2, h3 {
	font-family: 'Merriweather', serif;
	font-size: 32pt;
}

a {
	color: #0092ca;
}

.headerlist a {
	font-family: 'Merriweather', serif;
	font-weight: lighter;
	color: #0092ca;
}

.keyword {
	font-family: 'Fira Code', monospace;
	color: #2fafff;
	font-weight: 600;
}

.quote {
	font-family: 'Fira Code', monospace;
	color: #a55233;
	font-weight: 400;
}

.comment {
	font-family: 'Fira Code', monospace;
	color: #f57b51;
	font-weight: 400;
}

.high {
	font-family: 'Fira Code', monospace;
	color: #ff00ff;
	font-weight: 550;
}

.quotebox {
	font-style: italic;
	margin-left: 2em;
	margin-right: 2em;
}

.quotebox p {
	text-align: right;
	font-size: smaller;
	font-style: normal;
}
