
body {
	font-family: 'Courier New', monospace;
	font-size: 1.5em;
	width: min(95%, max(60%, 47em));
	margin: auto;
	margin-top: 1%;
	margin-bottom: 1%;
	background-color: transparent;
	color: black;
}

code {
	font-family: 'Iosevka', monospace;
}

h1, h2, h3, b {
	color: #272727;
}

a {
	color: violet;
}

.keyword {
	color: blue;
	font-weight: 600;
}

.quote {
	color: brown;
	font-weight: 400;
}

.comment {
	color: rgb(90, 150, 90);
	font-weight: 400;
}

.high {
	color: #ff00ff;
	font-weight: 550;
}
