
body {
	font-family: 'Courier New', monospace;
	font-size: 1.5em;
	width: 47em;
	margin: auto;
	margin-top: 1%;
	margin-bottom: 1%;
	background-color: #081010;
	color: #e0e6f0;
}

::selection {
	background: #ffff11;
	color: #100f10;
}

h1, h2, h3, b {
	color: #4fe42f;
}

a {
	color: violet;
}

code keyword {
	color: rgb(102, 68, 170);
	font-weight: 600;
}

code quote {
	color: rgb(255, 204, 51);
	font-weight: 400;
}

code comment {
	color: rgb(90, 150, 90);
	font-weight: 400;
}

high {
	color: #ff00ff;
	font-weight: 550;
}
