
body {
	font-family: 'Courier New', monospace;
	font-size: 1.5em;
	width: min(95%, max(60%, 47em));
	margin: auto;
	margin-top: 1%;
	margin-bottom: 1%;
	background-color: #eeeeee;
	color: #222831;
}

code {
	font-family: 'Iosevka', monospace;
}

h1, h2, h3, b {
	color: #393e46;
}

a {
	color: #0092ca;
}

.keyword {
	color: #2fafff;
	font-weight: 600;
}

.quote {
	color: #a55233;
	font-weight: 400;
}

.comment {
	color: #f57b51;
	font-weight: 400;
}

.high {
	color: #ff00ff;
	font-weight: 550;
}
